@font-face {
  font-family: 'VWText';
  src: url('VWText.eot');
  src: url('VWText.eot?#iefix') format('embedded-opentype'),
       url('VWText.svg#VWText') format('svg'),
       url('VWText.ttf') format('truetype'),
       url('VWText.woff') format('woff'),
       url('VWText.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

