@font-face {
  font-family: 'VWHead';
  src: url('../fonts/VWHead.eot');
  src: url('../fonts/VWHead.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VWHead.svg#VWHead') format('svg'),
       url('../fonts/VWHead.ttf') format('truetype'),
       url('../fonts/VWHead.woff') format('woff'),
       url('../fonts/VWHead.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VWText';
  src: url('../fonts/VWText.eot');
  src: url('../fonts/VWText.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VWText.svg#VWText') format('svg'),
       url('../fonts/VWText.ttf') format('truetype'),
       url('../fonts/VWText.woff') format('woff'),
       url('../fonts/VWText.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* =========================================== */

body {
  font-family: VWText;
  margin: 0;
  /* scroll-behavior: smooth; */
  /* overflow: hidden; */
}

svg {
  width: 2em;
  height: auto;
}

/* navbar */
.testdrive-btn {
  padding: 0.1rem 0.3rem !important;
  background-color: #84acc5 !important;
}


/* footer */


.footer-wrap {
  min-height: 30vh;
  padding: 2em 0;
  background-color: #343a40;
  color: #fff ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer-logo svg {
  width: 8em;
  height: auto;
}
.footer-legal {
  max-width: 30%;
  text-align: center;
  padding-bottom: 0 !important;
}
.footer-menu a {
  text-decoration: underline;
  color: #fff;
}
@media (max-width: 540px) {
  .footer-wrap {
    flex-direction: column;
    /* align-content: ; */
  }
  .footer-wrap div {
    padding: 1em 0;
  }
  .footer-legal {
    max-width: 80%;
  }

}