/*
Styles set for: 
- global styles
- to-top tab
- navbar logo and testdrive btn
- footer
> 
*/

@font-face {
  font-family: 'VWText';
  src: url('../fonts/VWText.eot');
  src: url('../fonts/VWText.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VWText.svg#VWText') format('svg'),
       url('../fonts/VWText.ttf') format('truetype'),
       url('../fonts/VWText.woff') format('woff'),
       url('../fonts/VWText.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* =========================================== */

body {
  font-family: VWText;
  margin: 0;
  /* scroll-behavior: smooth; */
  /* overflow: hidden; */
}

#to-top {
  background-color: #84acc5;
  border-radius: 10px 10px 0 0;
  width: 3em;
  position: fixed;
  bottom: 0;
  left: 50%;
  display: inline-block;
  z-index: 999;
  text-align: center;
  height: 1.5em;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
}


/* navbar */
.testdrive-btn {
  padding: 0.1rem 0.3rem !important;
  background-color: #84acc5 !important;
}
svg {
  width: 2em;
  height: auto;
}

/* footer */
.footer-wrap {
  min-height: 30vh;
  padding: 2em 0;
  background-color: #343a40;
  color: #fff ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer-logo svg {
  width: 8em;
  height: auto;
}
.footer-legal {
  max-width: 30%;
  text-align: center;
  padding-bottom: 0 !important;
}
.footer-menu a {
  text-decoration: underline;
  color: #fff;
}
@media (max-width: 576px) {
  .footer-wrap {
    flex-direction: column;
    /* align-content: ; */
  }
  .footer-wrap div {
    padding: 1em 0;
  }
  .footer-legal {
    max-width: 80%;
  }

}