
/* buttons */
.copy .btn {
  background-color: #84acc5 !important;
  width: 7em;
  border: none;
}
.img {
  min-height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: VWText;
}
.copy {
  font-family: VWText;
  padding: 2rem;

}
.copy h2 {
  font-weight: bold;
}
.copy h2 span {
  color: #84acc5;
  font-weight: lighter;
  padding-left: 1rem;
  word-wrap: none;
}
.copy p {
  max-width: 80%;
  font-size: 1.2rem;
  padding: 1em 0;
}
hr {
  height: 2px;
  width: 80%;
  color: lightblue;
}
/* ECO SECTION */
.eco-img {
  background-image: url("../images/eco.jpg");

}


/* SAFETY SECTION */
.safety-img {
  background-image: url("../images/safety1.jpg");
}
.safety-copy {
  text-align: right;
}
.safety-copy p {
  margin-left: 20%;
}

/* SAFETY SECTION */
.tech-img {
  background-image: url("../images/technology1.jpg");

}

/* STYLE SECTION */
.style-img {
  background-image: url("../images/style.jpg");
}
.style-copy {
  text-align: right;
}
.style-copy p {
  margin-left: 20%;
}
/* CTA SECTION */
.cta-wrap {
  background-image: url("../images/customer1.jpg");
  background-size: cover;
  background-position: center;
  min-height: auto;
  display: flex;
  padding: 1em;
  text-align: center;
}
.cta-wrap div {
  margin: 1em;
}
.cta-wrap p {
  width: 80%;
  margin: auto;
}
.cta-wrap a {
  color: #77a7c5 !important;
}
@media (max-width: 576px) {
  .img {
    min-height: 20vh;
    background-position: center;
  }

  .cta-wrap {
    flex-direction: column;
  }
}